@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: 8, 15, 15;
  --white: 251, 252, 255;
  --celestial-blue: 5, 142, 217;
  --aetro-blue: 64, 187, 218;
  --saffron-yellow: 234, 191, 83;
  font-size: 16px;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
  }
} */

/* @media screen and (max-width: 900px) {
  :root {
    font-size: 14px;
  }
} */

body {
  @apply text-black;
  background-color: rgb(var(--white), 0.88);
}
