@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #080f0f;
  --white: #fbfcff;
  --celestial-blue: #058ed9;
  --aetro-blue: #40bbda;
  --saffron-yellow: #eabf53;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
  }
} */

body {
  @apply bg-aetroBlue;
}
