@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: 8, 15, 15;
  --white: 251, 252, 255;
  --celestial-blue: 5, 142, 217;
  --aetro-blue: 64, 187, 218;
  --saffron-yellow: 234, 191, 83;
  --gradient-blue-45: linear-gradient(
    45deg,
    rgb(var(--celestial-blue)),
    rgb(var(--aetro-blue))
  );
  font-size: 16px;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
  }
} */
